* {
    box-sizing: border-box;
    font-family: "Roberto Bold",Helvetica, sans-serif;
}
body {
    text-align: center;
    background-image: url("../images/casinobg.jpg");
    background-color: darkslategrey;
    background-size: auto;
}

#container {
    background-color: #B2B1B9;
    width: 50%;
    margin: 0 auto;
    padding: 2em;
    border: solid #6be6ff 1em;
}

p,h1,h2,h3,span {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2C2E43;
    line-height: 25%;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2rem;
}

ul {
    background-color: #595260;
    color: #fff9dd;
    padding: 1em 2em;
    text-align: left;
    border-radius: 2rem;
}

button {
    color: #2C2E43;
    background-color: #6be6ff;
    width: auto;
    font-size: 1.25rem;
    padding: 1rem 2rem;
    border-radius: 1em;
    font-weight: 700;
}

#totalScore1, #totalScore2 {
    font-size: 3.5rem;
    border: #6be6ff double 0.25em;
    border-radius: 100%;
    padding: 0.35em 0.5em;
    margin: 0.2em;
    display: inline-block;
    width: 2.6rem;
}

@media (max-width:1050px) {
    * {
        font-size: 10px;
    }

@media (max-width:650px) {
    * {
        font-size: 5px;
    }
}